# Lecture 2. Data Types

- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Text Type:	str
- Boolean Type:	bool

----------------------------------------------
Out of our scope:
- Binary Types:	bytes, bytearray, memoryview
- None Type:	NoneType

## 2.1 Numeric Types 
- int - an integer number: `x = 2`
- float - a floating-point number: `x = 2.5`
- complex - a complex number: `x = 2 + 1j `

In [1]:
a_int = 5
b_float = float(a_int)
print(f'a_int = {a_int} and type is {type(a_int)}') 
print(f'b_float = {b_float} and type is {type(b_float)}')

a_int = 5 and type is <class 'int'>
b_float = 5.0 and type is <class 'float'>

In [2]:
a = 5
b = a
print(f'a = {a} and type is {type(a)}. id(a) = {id(a)}') 
print(f'b = {b} and type is {type(b)}. id(b) = {id(b)}')
print('---------------------------------------------------------')
a = 4
print(f'a = {a} and type is {type(a)}. id(a) = {id(a)}') 
print(f'b = {b} and type is {type(b)}. id(b) = {id(b)}')

a = 5 and type is <class 'int'>. id(a) = 140733691593768
b = 5 and type is <class 'int'>. id(b) = 140733691593768
---------------------------------------------------------
a = 4 and type is <class 'int'>. id(a) = 140733691593736
b = 5 and type is <class 'int'>. id(b) = 140733691593768

In [3]:
a = 5
b = a
print(f'a = {a} and type is {type(a)}. id(a) = {id(a)}') 
print(f'b = {b} and type is {type(b)}. id(b) = {id(b)}')
print('---------------------------------------------------------')
b = 4
print(f'a = {a} and type is {type(a)}. id(a) = {id(a)}') 
print(f'b = {b} and type is {type(b)}. id(b) = {id(b)}')

a = 5 and type is <class 'int'>. id(a) = 140733691593768
b = 5 and type is <class 'int'>. id(b) = 140733691593768
---------------------------------------------------------
a = 5 and type is <class 'int'>. id(a) = 140733691593768
b = 4 and type is <class 'int'>. id(b) = 140733691593736

In [1]:
a = 3.14
b = int(a)
c = round(a, 1)

print(f'a = {a}')
print(f'b = {b}')
print(f'c = {c}')

a = 3.14
b = 3
c = 3.1

In [ ]:
a = 3.78
b = 3.25
print(f'a = {round(a, 1)}')
print(f'b = {round(b, 1)}')

a = 3.8
b = 3.2

In [41]:
a = 3.5
b = 4.5
с = 5.5
print(f'a = {round(a)}')
print(f'b = {round(b)}')
print(f'c = {round(с)}')

a = 4
b = 4
c = 6

In [42]:
a = 3.4
b = 3.6
с = 4.4
d = 4.6
print(f'a = {round(a)}')
print(f'b = {round(b)}')
print(f'c = {round(с)}')
print(f'd = {round(d)}')

a = 3
b = 4
c = 4
d = 5

In [ ]:
import math as m


a = 2.345
print(f'round(a) = {round(a)}') # BE CAREFUL ROUNDING USING FINANCIAL ROUNDING
print(f'm.ceil(a) = {m.ceil(a)}') # rounds up and returns the smallest integer greater than or equal to a given number
print(f'm.floor(a) = {m.floor(a)}') # rounds down and returns the largest integer less than or equal to a given numbe
print(f'int(a) = {int(a)}') # converts a decimal (floating-point) number to its integer part by truncating the fractional part

round(a) = 2
m.ceil(a) = 3
m.floor(a) = 2
int(a) = 2

In [ ]:
a = 7
b = 3

print(f'a // b = {a // b}') # floor division
print(f'a % b = {a % b}') # returns the remainder of a division operation
print(f'a / b = {(a / b):.3f}') # true devision

a // b = 2
a % b = 1
a / b = 2.333

In [8]:
a = 3 + 5j
print(a)

(3+5j)

In [9]:
print(a.conjugate())

(3-5j)

In [10]:
print(f" Real(a) = {a.real}\n Im(a) = {a.imag}")

 Real(a) = 3.0
 Im(a) = 5.0

In [11]:
print(f" Abs(a) = {abs(a)}")

 Abs(a) = 5.830951894845301

In [12]:
abs(a.conjugate() * a)**0.5

5.830951894845301

Integer, float, string and complex are IMMUTABLE data types

## 2.2 Sequence, Mapping and Set Types

- list `list()` or `[]`: list of elemets [1, 2, 3], [1, 2, 3.14] or [1, 2.78, 'hello world!!!']
- tuple `tuple()` or `()`: tuple of elements (1, 2, 3), (1,2, 3.14) or (1, 2.78, 'hello world!!!')
- range `range()`: `range(5)`->0, 1, 2, 3, 4; `range(1,5)`-> 1, 2, 3, 4; `range(1,5,2)`-> 1, 3

### 2.2.1 List
List is a collection which is ordered and changeable. Allows duplicate members.

In [8]:
ls = [1, 2, 4, 5]
print(type(ls))

<class 'list'>

In [9]:
# create one list
a = [1, 2, 4, 5]
b = [3, 4, 6]
c = a + b
print(c)

[1, 2, 4, 5, 3, 4, 6]

In [2]:
a = [1, 2, 4, 5]
b = [3, 4, 6]
c = a - b
print(a - b)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [3]:
c = a * 2 #creat doubled list "a"
print(c)

[1, 2, 4, 5, 1, 2, 4, 5]

In [5]:
a = [1, 2, 3]
b= a

In [6]:
a = a *2

In [8]:
b

[1, 2, 3]

In [ ]:
c = [1] * 5 #create list with 5 element equal to 1
print(c)

[1, 1, 1, 1, 1]

In [ ]:
c.append(5) # add element to the end
print(c)

[1, 1, 1, 1, 1, 5]

In [ ]:
ls = [4, 5, 1, 2]
ls.remove(5) # remove element by value
print(f'ls = {ls}')

ls = [4, 1, 2]

In [9]:
ls = [4, 5, 1, 2, 5]
ls.remove(5) # remove element by value
print(f'ls = {ls}')

ls = [4, 1, 2, 5]

In [ ]:
ls.remove(5)
print(f'ls = {ls}')

ValueError: list.remove(x): x not in list

In [11]:
ls = [4, 5, 1, 2]
ls.pop(2) # remove element by index
print(f'ls = {ls}')

ls = [4, 5, 2]

In [12]:
ls.clear() # clear the list
print(f'ls = {ls}')

ls = []

In [13]:
ls = [4, 5, 1, 2]
print(f'ls[0] = {a[0]}') #print zero element

ls[0] = 1

In [10]:
ls = [4, 5, 1, 2]
print(f'ls[-2] = {a[-2]}') #print -2nd element

ls[-2] = 2

In [15]:
ls = [4, 5, 1, 2]
ls.insert(3, 0) # insert index in the 3rd place
print(f'ls = {a}')

ls = [1, 2, 4, 5]

In [11]:
ls = [4, 5, 1, 2, 5]
print(f'ls = {ls[1:]}') # print from 1st element to the end, NOT modified the list a

ls = [5, 1, 2, 5]

In [16]:
a  = ls[3:].remove(5)

In [15]:
ls

[4, 5, 1, 2, 5]

In [20]:
ls = [4, 5, 1, 2, 5]
print(f'ls = {ls[0::2]}') # print every 2nd element from the zero element, NOT modified the list a

ls = [4, 1, 5]

In [18]:
print(f'ls = {ls[:-2]}') # print from the zero element to -2nd element, NOT modified the list a

ls = [4, 5]

In [19]:
ls = [4, 5, 1, 2]
ls.sort() # sort list ls
print(f'ls = {ls}')

ls = [1, 2, 4, 5]

In [20]:
mat = [[1,2], [5, 0], [3, 1]]
mat.sort(key=lambda x: x[0]) #by the first element
print(f'mat = {mat}')

mat = [[1, 2], [3, 1], [5, 0]]

In [21]:
mat = [[1,2], [5, 0], [3, 1]]
mat.sort(key=lambda x: x[1], reverse=True) #by the second element and in reverse order
print(f'mat = {mat}')

mat = [[1, 2], [3, 1], [5, 0]]

In [21]:
list_a = [['sting1', 2]]

In [23]:
list_a.append(3)

In [25]:
list_a

[['sting1', 2], 3]

In [22]:
a = [1, 2, 5, 9]
b = a
print(f'a = {a}\nb = {b}')

a = [1, 2, 5, 9]
b = [1, 2, 5, 9]

In [23]:
b.append(0)
print(f'a = {a}\nb = {b}')

a = [1, 2, 5, 9, 0]
b = [1, 2, 5, 9, 0]

In [24]:
print(f'id(a) = {id(a)}\nid(b) = {id(b)}')

id(a) = 2590168158144
id(b) = 2590168158144

In [25]:
a = [1, 2, 5, 9]
b = a.copy()
b.append(0)
print(f'a = {a}\nb = {b}')
print(f'id(a) = {id(a)}\nid(b) = {id(b)}')

a = [1, 2, 5, 9]
b = [1, 2, 5, 9, 0]
id(a) = 2590168269824
id(b) = 2590168276544

In [28]:
def mult100(x: int)-> int:
    return 100*x


a = [1, 2, 5, 9]
b = list(map(mult100, a))
print(*b)
print(b[0], b[1], b[2])

100 200 500 900

In [30]:
arr = [1,2,3]
a, b, c = arr
print(a, b,c)

1 2 3

In [57]:
a = [1, 2, 3, 4]
b = [9, 8, 7 ,6]
c = list(zip(a, b))
print(*c)

(1, 9) (2, 8) (3, 7) (4, 6)

In [58]:
a = [1, 2, 3, 4, 5, 6]
b = [9, 8, 7 ,6]
c = list(zip(a, b))
print(*c)

(1, 9) (2, 8) (3, 7) (4, 6)

In [59]:
a = [1, 2, 3, 4]
b = [9, 8, 7, 6, 5]
c = list(zip(a, b))
print(*c)

(1, 9) (2, 8) (3, 7) (4, 6)

#### List of Methods of List

`append()`	Adds an element at the end of the list

`clear()`	Removes all the elements from the list

`copy()`	Returns a copy of the list

`count()`	Returns the number of elements with the specified value

`extend()`	Add the elements of a list (or any iterable), to the end of the current list

`index()`	Returns the index of the first element with the specified value

`insert()`	Adds an element at the specified position

`pop()`	    Removes the element at the specified position

`remove()`	Removes the first item with the specified value

`reverse()`	Reverses the order of the list

`sort()`   	Sorts the list

### 2.2.2 Tuple
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [26]:
tpl = (1, 2, 4, 5)
print(f'tpl = {tpl} and type is {type(tpl)}')

tpl = (1, 2, 4, 5) and type is <class 'tuple'>

In [27]:
tpl_1 = (1, 2.78, 3.14, '5')
tpl_2 = (6, 7, 8)
tpl = tpl_1 + tpl_2
print(f'tpl = {tpl} and type is {type(tpl)}')

tpl = (1, 2.78, 3.14, '5', 6, 7, 8) and type is <class 'tuple'>

In [28]:
tpl = (1) * 10
print(f'tpl = {tpl} and type is {type(tpl)}')

tpl = 10 and type is <class 'int'>

In [29]:
tpl = (1,) * 10
print(f'tpl = {tpl} and type is {type(tpl)}')

tpl = (1, 1, 1, 1, 1, 1, 1, 1, 1, 1) and type is <class 'tuple'>

*Tuple* is **IMMUTABLE** datatype, you cannot add or remove elements

In [30]:
tpl = (1, 2, 4, 5)
print(f'tpl = {tpl} and type is {type(tpl)}') 
ls = list(tpl) # convertation of tuple to list
print(f'ls = {ls} and type is {type(ls)}')

tpl = (1, 2, 4, 5) and type is <class 'tuple'>
ls = [1, 2, 4, 5] and type is <class 'list'>

#### List of Methods of Tuple

`count()`	Returns the number of times a specified value occurs in a tuple

`index()`	Searches the tuple for a specified value and returns the position of where it was found

### 2.2.3 Range

```python
rg = range(start, stop, step)
```
Generate numbers in the folowing sequence [start,stop) with a step=step

In [31]:
rg_1 = range(10) # generate numbers from 0 to 9 with a step of 1
rg_2 = range(2,10) # generate numbers from 2 to 9 with a step of 1
rg_3 = range(2, 10, 2) # generate numbers from 2 to 9 with a step of 2
rg_4 = range(10, 2, -2) # generate numbers from 10 to 2 with a step of 2

In [32]:
ls = list(rg_4) # convert range into list
print(f'ls = {ls} and type is {type(ls)}')

ls = [10, 8, 6, 4] and type is <class 'list'>

In [33]:
tpl = tuple(rg_4) # convert range into tuple
print(f'tpl = {tpl} and type is {type(tpl)}')

tpl = (10, 8, 6, 4) and type is <class 'tuple'>

## 2.3 Mapping Type

In [34]:
d = {"one": 1, "pi": 3.14, }
print(f'd = {d} and type is {type(d)}')

d = {'one': 1, 'pi': 3.14} and type is <class 'dict'>

In [35]:
d_keys = list(d.keys())
print(f'keys = {d_keys}')

keys = ['one', 'pi']

In [36]:
d_values = list(d.values())
print(f'values = {d_values}')

values = [1, 3.14]

In [37]:
d_keys = list(d.keys())
print(f'keys = {d_keys}')

keys = ['one', 'pi']

In [38]:
d.update({4: 3})

In [39]:
a = d 
print(f'id(a) = {id(a)}\nid(d) = {id(d)}')

id(a) = 2590162629056
id(d) = 2590162629056

#### List of Methods of Dictionary

`clear()`	Removes all the elements from the dictionary

`copy()`	Returns a copy of the dictionary

`fromkeys()`	Returns a dictionary with the specified keys and value

`get()`	Returns the value of the specified key

`items()`	Returns a list containing a tuple for each key value pair

`keys()`	Returns a list containing the dictionary's keys

`pop()`	Removes the element with the specified key

`popitem()`	Removes the last inserted key-value pair

`setdefault()`	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

`update()`	Updates the dictionary with the specified key-value pairs

`values()`	Returns a list of all the values in the dictionary

## 2.4 Set Type

### 2.4.1 Set is a collection which is unordered, and unindexed. No duplicate members.

In [40]:
st = set([1,2,3,4,5,6,2,3])
print(f'st = {st} and type is {type(st)}')

st = {1, 2, 3, 4, 5, 6} and type is <class 'set'>

In [41]:
st.add(10)
print(f'st = {st}')

st = {1, 2, 3, 4, 5, 6, 10}

In [42]:
st.remove(3)
print(f'st = {st}')

st = {1, 2, 4, 5, 6, 10}

In [43]:
st.remove(3)
print(f'st = {st}')

KeyError: 3

#### List of Methods of Set

`add()` 	Adds an element to the set

`clear()`	 	Removes all the elements from the set

`copy()`	 	Returns a copy of the set

`difference()`	or `-`	Returns a set containing the difference between two or more sets

`difference_update()` or	`-=`	Removes the items in this set that are also included in another, specified set

`discard()`	 	Remove the specified item

`intersection()` or	`&`	Returns a set, that is the intersection of two other sets

`intersection_update()`	`&=`	Removes the items in this set that are not present in other, specified set(s)

`isdisjoint()`	 	Returns whether two sets have a intersection or not

`issubset()` or	`<=`	Returns whether another set contains this set or not

`<`	Returns whether all items in this set is present in other, specified set(s)

`issuperset()`	or `>=` Returns whether this set contains another set or not

`>`	Returns whether all items in other, specified set(s) is present in this set

`pop()` 	Removes an element from the set

`remove()`	 	Removes the specified element

`symmetric_difference()` or `^`	Returns a set with the symmetric differences of two sets

`symmetric_difference_update()` or	`^=`	Inserts the symmetric differences from this set and another

`union()` or	`|`	Return a set containing the union of sets

`update()` or	`|=`	Update the set with the union of this set and others

### 2.4.2 Frozen is immutable set.

In [3]:
a = frozenset()
print(a)

frozenset()

In [4]:
a.insert(a)

AttributeError: 'frozenset' object has no attribute 'insert'

In [9]:
b = frozenset([1,2,3])
print(b)

frozenset({1, 2, 3})

In [12]:
b.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'

The fuction list is similiar to the set list without mutable functions

## 2.5 Text Type

In [50]:
string_1  = "Hello world 1"
string_2  = 'Hello world 2'

In [51]:
print(f"string_1 = \"{string_1}\" and type is {type(string_1)}")
print(f"string_2 = '{string_2}' and type is {type(string_2)}")

string_1 = "Hello world 1" and type is <class 'str'>
string_2 = 'Hello world 2' and type is <class 'str'>

In [58]:
string_1  = "Hello world 1"
string_2  = 'Hello_world_2'
print(f"string_1 elements = {string_1.split(sep=' ')}")
print(f"string_2 elements = {string_2.split(sep='_')}")

string_1 elements = ['Hello', 'world', '1']
string_2 elements = ['Hello', 'world', '2']

!!! Be carefull !!!

In [35]:
str = " Electron paramagnetic resonance (EPR) or electron spin resonance (ESR) spectroscopy is a method for studying materials that have unpaired electrons."
word_list = str.split()

In [45]:
new_str = ""
for word in word_list[::2]:
    new_str += word + ' '
print(new_str)

Electron resonance or spin (ESR) is method studying that unpaired

In [48]:
%%time
for i in range(10000000):
    new_str = ""
    for word in word_list[::2]:
        new_str += word + ' '

CPU times: total: 16.3 s
Wall time: 16.3 s

In [49]:
%%time
for i in range(10000000):
    new_str = ' '.join(word_list[::2])

CPU times: total: 2.58 s
Wall time: 2.57 s

#### List of Methods of String

`capitalize()`	Converts the first character to upper case

`casefold()`	Converts string into lower case

`center()`	Returns a centered string

`count()`	Returns the number of times a specified value occurs in a string

`encode()`	Returns an encoded version of the string

`endswith()`	Returns true if the string ends with the specified value

`expandtabs()`	Sets the tab size of the string

`find()`	Searches the string for a specified value and returns the position of where it was found

`format()`	Formats specified values in a string

`format_map()`	Formats specified values in a string

`index()`	Searches the string for a specified value and returns the position of where it was found

`isalnum()`	Returns True if all characters in the string are alphanumeric

`isalpha()`	Returns True if all characters in the string are in the alphabet

`isascii()`	Returns True if all characters in the string are ascii characters

`isdecimal()`	Returns True if all characters in the string are decimals

`isdigit()`	Returns True if all characters in the string are digits

`isidentifier()`	Returns True if the string is an identifier

`islower()`	Returns True if all characters in the string are lower case

`isnumeric()`	Returns True if all characters in the string are numeric

`isprintable()`	Returns True if all characters in the string are printable

`isspace()`	Returns True if all characters in the string are whitespaces

`istitle()`	Returns True if the string follows the rules of a title

`isupper()`	Returns True if all characters in the string are upper case

`join()`	Converts the elements of an iterable into a string

`ljust()`	Returns a left justified version of the string

`lower()`	Converts a string into lower case

`lstrip()`	Returns a left trim version of the string

`maketrans()`	Returns a translation table to be used in translations

`partition()`	Returns a tuple where the string is parted into three parts

`replace()`	Returns a string where a specified value is replaced with a specified value

`rfind()`	Searches the string for a specified value and returns the last position of where it was found

`rindex()`	Searches the string for a specified value and returns the last position of where it was found

`rjust()`	Returns a right justified version of the string

`rpartition()`	Returns a tuple where the string is parted into three parts

`rsplit()`	Splits the string at the specified separator, and returns a list

`rstrip()`	Returns a right trim version of the string

`split()`	Splits the string at the specified separator, and returns a list

`splitlines()`	Splits the string at line breaks and returns a list

`startswith()`	Returns true if the string starts with the specified value

`strip()`	Returns a trimmed version of the string

`swapcase()`	Swaps cases, lower case becomes upper case and vice versa

`title()`	Converts the first character of each word to upper case

`translate()`	Returns a translated string

`upper()`	Converts a string into upper case

`zfill()`	Fills the string with a specified number of 0 values at the beginning

## 2.6 Boolean Type

In [65]:
foo = True #or False
print(f'foo = {foo} and type is {type(foo)}')

foo = True and type is <class 'bool'>

In [66]:
string = 'Hello world!!!'
foo = 'Hello' in string
print(f'foo = {foo} and type is {type(foo)}')

foo = True and type is <class 'bool'>

In [68]:
ls = [1, 2, 5, 8]
foo = 3 in ls
print(f'foo = {foo} and type is {type(foo)}')

foo = False and type is <class 'bool'>